* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

#first {
        width: 40%;
        margin-top: 300px;
        margin-left: 200px;
        margin-bottom: 80px;
        display: inline-block;
        font-family: "Raleway";
        font-size: 35px;
}

#mobile {
        height: 600px;
        margin-left: 60%;
        margin-top: -34%;
        display: inline-block;
        border-radius: 50px;
}

#btn {
        background-color: rgb(38, 176, 197);
        color: white;
        cursor: pointer;
        outline-color: black;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 15px;
        outline: auto;
        font: bold;
        margin-left: 10px;
}


#background {
        background-image: url(background.jpg);
        height: 550px;
}

#background .box {
        font-family: "Raleway";
        text-align: center;
        width: 26%;
        margin-top: 100px;
        margin-left: 100px;
        color: white;
        font-size: 20px;
}

.box {
        margin-left: 35px;
        width: 20%;
        display: inline-block;
}

#dl1 {
        color: rgb(38, 176, 197);
        font-size: 40px;
}


#sct2 {
        height: 550px;
        padding-top: 10%;
        font-family: "Raleway";
        text-align: center;
}

#sct2 dl {
        font-size: 30px;
}

#sct2 dd {
        line-height: 30px;
}


#sct3 {
        background-image: url(background.jpg);
        height: 950px;
        font-family: "Raleway";
        text-align: center;
        color: white;
}

#sct3 .box6 {
        margin-top: 20%;
        width: 70%
}

#sbsct2 .box {
        display: inline-block;
        border-style: dashed;
        margin-top: 3%;
        width: 35%;
        height: 300px;
        font-size: 40px;
}

#sbsct3 .box {
        width: 50%;
        height: 300px;
        margin-top: 30px;
}

span {
        color: red;
}